#about {
    position: relative;

    .container {
        display: grid;
        grid-template-columns: 2.5fr 2fr;
        background-color: #2f53b6;
        height: calc(100vh + 3rem);
        align-items: center;
    }

    .content {
        color: #eff8fb;
        padding-inline: 6rem;

        h2 {
            font-family: Rubik;
            font-size: 64px;
            color: #06e49d;
        }

        p {
            font-family: "Roboto Mono";
            font-size: 1.25rem;
            line-height: 1.75rem;
            margin: 20px 0;
        }
    }

    .bottom-triangles {
        background-image: url("data:image/svg+xml,%3csvg%20width='227'%20height='63'%20viewBox='0%200%20227%2063'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3crect%20y='14'%20width='227'%20height='49'%20fill='%23091e24'/%3e%3cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M37.8%200L75.6%2014.175H0L37.8%200Z'%20fill='%23091e24'/%3e%3cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M113.4%200L151.2%2014.175H75.6L113.4%200Z'%20fill='%23091e24'/%3e%3cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M189%200L226.8%2014.175H151.2L189%200Z'%20fill='%23091e24'/%3e%3c/svg%3e");
        width: 100%;
        height: 3rem;
        animation: slideToLeft 36s infinite linear;
        position: absolute;
        bottom: 0;
    }

    .image-profile {
        width: 55%;
        justify-self: center;
        align-self: flex-end;
        filter: grayscale(100%);
    }

    @media screen and (max-width: 1020px) {
        .container {
            height: auto;
            grid-template-columns: 1fr;

            .content {
                margin-top: 2.5rem;
                padding-inline: 1.5rem;
            }

            .image-profile {
                width: 35%;
            }
        }
    }
}